table.table.table-hover
    thead
        tr
            th ID
            th NAME
    tbody
        - for (var i = 0; i < users.length; i++)
            tr
                td= users[i].id
                td= users[i].name